.container {
    max-width: 800px;
    border: dashed 0.1rem;
}

.header {
    margin-top: 6rem;
    text-align: center;
}

.value-prop {
    margin-top: 1rem; 
}

.value-props {
    margin-top: 4rem;
    margin-bottom: 4rem; 
}

.value-img {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0; 
}

.navbar {
    display: none;
}

.navbar > .container {
    border: none;
}

a:hover {
    color: #A95C68;
}

.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600; 
}

.docs-section {
    background: #097969;
    padding: 4rem 4rem;
    border: 0.1rem dashed;
    margin-bottom: 0;
}

body {
    background-color: #097969;
    color: #eee;
}

.avatar {
    border-radius: 50%;
}

/* Larger than phablet (size when grid kicks in) */
@media (min-width: 550px) {
    /* Navbar */
    /* .navbar + .docs-section {
      border-top-width: 0; } */
    .navbar,
    .navbar-spacer {
      display: block;
      width: 100%;
      height: 6.5rem;
      background: #097969;
      z-index: 99;
      border: 0.1rem solid #eee;
      margin-bottom: 2em; }
    .navbar-spacer {
      display: none; }
    .navbar > .container {
      width: 100%; }
    .navbar-list {
      list-style: none;
      margin-bottom: 0; }
    .navbar-item {
      position: relative;
      float: left;
      margin-bottom: 0; }
    .navbar-link {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: .2rem;
      margin-right: 35px;
      text-decoration: none;
      line-height: 6.5rem;
      color: #eee; }
    .navbar-link.active {
      color: #D70040; }
    .has-docked-nav .navbar {
      position: fixed;
      top: 0;
      left: 0; }
    .has-docked-nav .navbar-spacer {
      display: block; }
    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
      width: 80%; }
}